<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BigDataTestMapper">




    <select id="getCount" parameterType="com.example.demo.entity.BigDataVo" resultType="java.util.Map">
        SELECT DISTINCT count(DISTINCT db_name)
        FROM t_dsp_db_info WHERE db_name !=''
        <if test="ips != null and ips.size()!=0">
         and db_ip in(
         <foreach collection="ips" item="ip" separator=",">
            (#{ip})
         </foreach>
             )
        </if>
    </select>


    <select id="getAllCount" resultType="java.util.Map">
        SELECT DISTINCT count(DISTINCT db_name)
        FROM t_dsp_db_info WHERE db_name !=''
    </select>


    <select id="alarmTrendCount" parameterType="com.example.demo.entity.StatisticsVo" resultType="com.example.demo.entity.AlarmtrendTrendVo">
        select risk_type,count(1) count,date_format(occurrence_time,'%Y-%m-%d') date
        from warn_mes
        where risk_type != 'null'
        <if test="ips != null and ips.size()!=0">
            and session_server_ip in(
            <foreach collection="ips" item="ip" separator=",">
                (#{ip})
            </foreach>
            )
        </if>
        <if test="createStartTime != null and createStartTime != ''"><!-- 创建开始时间检索 -->
            AND date_format(occurrence_time,'%y%m%d') &gt;= date_format(#{createStartTime},'%y%m%d')
        </if>
        <if test="createEndTime != null and createEndTime != ''"><!-- 创建结束时间检索 -->
            AND date_format(occurrence_time,'%y%m%d') &lt;= date_format(#{createEndTime},'%y%m%d')
        </if>
        group by risk_type,date;
    </select>


    <select id="selectType" resultType="java.lang.String">
        select risk_type
        from warn_mes
        where risk_type != 'null'
        group by risk_type;
    </select>

</mapper>
