<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BigDataTestMapper">




    <select id="getCount" parameterType="com.example.demo.entity.BigDataVo" resultType="java.util.Map">
        SELECT DISTINCT count(DISTINCT db_name)
        FROM t_dsp_db_info WHERE db_name !=''
        <if test="ips != null and ips.size()!=0">
         and db_ip in(
         <foreach collection="ips" item="ip" separator=",">
            (#{ip})
         </foreach>
             )
        </if>
    </select>


    <select id="getAllCount" resultType="java.util.Map">
        SELECT DISTINCT count(DISTINCT db_name)
        FROM t_dsp_db_info WHERE db_name !=''
    </select>

</mapper>
